*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    /* outline: 1px solid red; */
    /* color: rgb(56, 52, 52); */
}
h3, p{
    font-family:'Archivo', sans-serif;
}
a{
    text-decoration: none;
    /* color: gray; */
}
li{
    list-style: none;
}
.container{
    width: 85%;
    margin: auto;
    /* background-color: red; */
}
.one__container{
    display: grid;
    grid-template-columns: 50% 50%;
}
.logo{
    margin-block: 2.5em;
}
.explore{
    display: flex;
    flex-direction: column;
}
.explore h3{
    font-size: 4.5rem;
}
.explore p{
    font-size: 1.5rem;
    gap: 1rem;
    color: gray;
    line-height: 2.3rem;
}
.left{
    padding-right: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.left-side__container{
    gap: 2rem;
}
.tick{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.tick p{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: gray;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.viewc{
    color: whitesmoke;
    padding: 1rem 1.5rem;
    display: inline-flex;
    background-color: black;
    font-size: 1rem;
}
/* .view{
    background-color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    color: whitesmoke;
    border-radius: 0.3rem;
    width: fit-content;
}
.view a{
    display: inline-flex;
    outline: 2px solid red;
    color: whitesmoke;
    font-size: 1.5rem;
    width: fit-content;
    background-color: red;
} */
.brand p{
    font-size: 1.5rem;
    margin-block: 1.5rem;
    color: gray;
}
.sponsor{
    display: flex;
    gap: 2rem;
}
.image1{
    position: fixed;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
}
.image2{
    display:none;
}
@media screen and (max-width: 1000px){
    body{
        /* background-color: rgb(230, 220, 71); */
    }
    .container{
        width: 90%;
        margin: auto;
    }
    .image1{
        display: none;
    }
    .one__container{
        grid-template-columns: 1fr;
    }
    .image2{
        display: block;
        width: 100%;

    }
    .right-side__container{
        order: 0;
    }
    .left-side__container{
        order: 1;
    }
    .explore h3{
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    .explore{
        margin-top: 2rem;
    }
    .sponsor{
        gap: 1rem;
        margin-bottom: 2rem;
    }    
    
}
@media screen and (max-width: 600px){
    body{
        /* background-color: rgb(81, 66, 170); */
    }
    *{
        /* outline: 1px solid red; */
    }
    .left{
        padding: 0;
    }
    .explore h3{
        font-size: 2.5rem;
    }
    .explore p, tick p{
        font-size: 21px;
        line-height: 28px;
    }

}
