*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */

}
.uil{
    font-size: 2rem;
}
.container{
    margin: auto;
    width: 80%;
}
.item{
    display: flex;
    flex-direction: row;

}
.item__action{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.shoe__container{
    width: 100vw;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    padding: 5rem;
}
article.item{
    /* border-radius: 2rem; */
    cursor: pointer;
    height: max-content;
    border-radius: 1rem;

    background-color: lightblue
}

article.item:hover .item__img img{
    transform: rotate(45deg);
}
article.item:hover .details{
    flex: .15;
}
img{
    object-fit: cover;
    width:100%;
    transition: 1s all;
}
.details{
    border-radius: 1rem 0 0 1rem;
    transition: 600ms ease-in;
    overflow: hidden;
    flex: 0;
    width: 0;
    /* background-color: black; */

}

.details p{
    color: red;
    position: relative;
    top: 0; 
    Right: 0;
    border: 1px solid wheat;
    width: max-content; 
    transform: translate(-50%, -50%);
    bottom: 0;
    transform-origin: 0 0;
    transform: rotate(270deg);
    overflow: none; 
} 
.item__des{
    flex: 1;
}